html{
  position:relative;
  min-height: 100%;
}
/*Normalize html and body elements,this style is just good to have*/

html, body{
    margin:0;
    padding:0;
}

i.icon{
	font-size: 2em;
}

.container.main{
	margin-top: 7.0em;
}